body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.logo>img {
    width: 100px;
    height: 100px;
    padding-left: 40px;
    margin: 20px;
}

.spacing {
    color: white;
    margin: 0 5px;
}

.search {
    margin-left: 100px;
    padding-left: 170px;
}

.sec-1 {
    height: 100vh;
    background-image: url("../resources/img1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.sec-1>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    height: 100%;
}

h1 {
    font-size: 40px;
    color: white;
}

.sec-2 {
    display: flex;
    height: 100px;
    width: 100%;
}

.sec-2-content {
    color: white;
    background-color: #f57f17;
    height: 50vh;
    width: 500vh;
}

.sec-2>div>h2 {
    padding-left: 20px;
    font-size: 30px;
}

.sec-2>div>p {
    padding-left: 20px;
    font-size: 20px;
}

.row>.image>img {
    height: 50vh;
    width: 50vh;
}

.sec-3 {
    padding-top: 245px;
    display: flex;
}

.img-3 {
    height: 50vh;
    width: 449.5px
}


.contact {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5e35b1;
}

.radio {
    color: white;
    padding-left: 13px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 9px;
}

input[type="submit"] {
    width: 103%;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}


.navbar {
    background-color: #125784;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;

}


.navbar>ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding-left: 170px;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    font-size: 17px;
    position: relative;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
}

.footer-content {
    padding: 30px;
}






/* For mobile device: */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .logo>img {
        width: 80px;
        height: 80px;
        padding-left: 20px;
        margin: 10px;
    }

    .search {
        margin: 20px 0;
        padding: 0;
    }

    .sec-2 {
        display: list-item;
    }

    .sec-2>div {
        width: auto;
        padding: 20px;
    }

    .img-2 {
        width: auto;
        height: 100px;
    }

    .sec-3 {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .img-3 {
        width: 100%;
        height: auto;
    }
}